.myinput.large {
    height: 22px;
    width: 22px;
  }
  
  .myinput.large[type="checkbox"]:before {
    width: 20px;
    height: 20px;
  }
  
  .myinput.large[type="checkbox"]:after {
    top: -20px;
    width: 16px;
    height: 16px;
  }

  .btn-fixed
  { 
      max-width: 200px !important;
     float: right; 
     margin-right: 10px; 
     margin-top: 10px; 
     margin-bottom: 10px; }

  .mr-10-IMP {
    margin-right: 1% !important;
  }