<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      Upload Routes
      <i [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
    </mat-card-title>
    <section class="example-section">
      <form
        (ngSubmit)="uploadData(form.value)"
        [formGroup]="form"
        enctype="multipart/form-data"
      >
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="Region"
            name="cityId"
            [formControl]="selectedRegionUp"
            [(ngModel)]="regionId"
            (ngModelChange)="showCount('show')"
          >
            <ng-container *ngFor="let region of regions">
              <mat-option *ngIf="region.id != -1" [value]="region.id">{{
                region.title
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <input
          #fileInput
          (change)="onFileChange($event)"
          id="avatar"
          type="file"
        />
        <section class="example-section">
          <button type="submit" mat-raised-button color="warn">Upload</button>
        </section>
      </form>
    </section>
  </mat-card-content>

  <mat-card-content>
    <table class="table" *ngIf="shopWiseCount.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Surveyor Code</th>
          <th scope="col">Surveyor Name</th>
          <th scope="col">Shops on Route</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let count of shopWiseCount; let i = index">
          <th scope="col">{{ i + 1 }}</th>
          <td>{{ count?.m_code }}</td>
          <td>{{ count?.full_name }}</td>
          <td>{{ count?.shops_on_route }}</td>
          <td>
            <button
              class="btn btn-danger"
              title="Click to remove Shops from Routes"
              (click)="deleteRoutes(count?.surveyor_id, 'delete')"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>


<div
  bsModal
  #errorModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Errors</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideErrorModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <label>{{ response }}</label>
      </div>
    </div>
  </div>
</div>